<template>
    <main class="app-content">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="tile">
                    <h3 class="tile-title">Edit Category</h3>

                    <div class="tile-body">
                        <form role="form" >

                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <input class="form-control"  name="cat_name"  :class="{ 'is-invalid': form.errors.has('cat_name') }" v-model="form.cat_name" type="text"  placeholder="Enter full name">

                                <has-error :form="form" field="cat_name"></has-error>
                            </div>
                            <div class="tile-footer">
                                <button class="btn btn-primary"  @click.prevent="updateCategory()" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Update</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="#"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </main>
</template>


<script>
    import axios from 'axios'
    export default {

        data(){
            return{
                form:new Form({
                    cat_name:'',
                }),
                 categoryId:this.$route.params.id,

            }
        },
        mounted()
        {

            axios.get('/category/'+this.categoryId+'/edit')
                .then((response)=>{
                this.form.fill(response.data.categoryEditData);

                });
        },
        methods:
            {

                updateCategory()
                {

                    this.form.patch('category/'+this.categoryId)
                        .then((response)=>{

                            this.$router.push('/category-list');
                            toast({
                                type: 'Your work has been saved',
                                title: 'Category Added successfully'
                            })


                        })
                        .catch(()=>{
                                console.log("Eror");

                        });


                }


            }
    }
</script>